* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #091921;
}

.clock {
  background-color: #ECE9DD;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background: #1f1e1c;
  border-radius: 50%;
  z-index: 10000;
}

.clock .hour {
  width: 160px;
  height: 160px;
}

.clock .minute {
  width: 190px;
  height: 190px;
}

.clock .second {
  width: 230px;
  height: 230px;
}

.hour, .minute, .second {
  display: flex;
  justify-content: center;
  position: absolute;
}

.hour:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 80px;
  background: #1f1e1c;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}

.minute:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 90px;
  background: #1f1e1c;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}

.second:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 150px;
  background: #1f1e1c;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}